.btn {
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.5s;
  width: 110px;
}
.button-box {
  border-radius: 30px;
  box-shadow: 0 0 20px 9px #ff61241f;
  margin: 35px auto;
  position: relative;
  width: 220px;
}
.form-holder {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6%;
  width: 100%;
}
.move {
  left: 110px;
}
.move-login {
  left: -400px;
  position: absolute;
}
.social-icon-holder {
  left: 20%;
  position: relative;
}
.social-icon-holder {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0px;
  position: relative;
  width: 100%;
}
.toggle-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 10px 30px;
  position: relative;
}

.two-forms {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 300px;
}
